---
import Layout from "../layouts/Layout.astro"
import fs from "node:fs/promises"

const snacksUrl = new URL("../data/aoc202201.txt", import.meta.url)
const snacks = await fs.readFile(snacksUrl, "utf-8")

const paylaods: any[] = []

let currentElfFattyBoombah = 0
let currentElfFattyBoombahPayload: any[] = []

snacks.split(/\r?\n/).forEach((line) => {
    if (line !== "") {
        currentElfFattyBoombah += parseInt(line)
        currentElfFattyBoombahPayload.push(parseInt(line))
    } else {
        const fattyElf = {
            calories: currentElfFattyBoombah,
            payload: currentElfFattyBoombahPayload,
        }

        paylaods.push(fattyElf)

        currentElfFattyBoombah = 0
        currentElfFattyBoombahPayload = []
    }
})

paylaods.sort((a, b) => b.calories - a.calories)

const fattestElf = paylaods[0] ? paylaods[0] : { calories: 0, payload: [] }
const secondFattestElf = paylaods[1]
    ? paylaods[1]
    : { calories: 0, payload: [] }
const thirdFattestElf = paylaods[2] ? paylaods[2] : { calories: 0, payload: [] }

const fattestTop3 =
    fattestElf.calories + secondFattestElf.calories + thirdFattestElf.calories
---

<Layout title="Advent of Code 2022 - 01">
    <main>
        <h1>Advent of Code 2022 - 01</h1>

        <h2>Part Uno</h2>

        <p>
            Fattest Elf is carrying {fattestElf.calories} calories in {
                fattestElf.payload.length
            } containers.
        </p>

        <pre
            class="mt-0 pt-0">
            {fattestElf.payload.map((item: unknown) => (
                <li>{item}</li>
            ))}
        </pre>

        <hr />

        <h2>Part Deux</h2>

        <p>Top 3 fattest elves TOTAL calories: {fattestTop3}</p>

        2nd fattest Elf carries {secondFattestElf.calories} calories in {
            secondFattestElf.payload.length
        } packages
        <pre>
            {secondFattestElf.payload.map((item: any) => (
                <li>{item}</li>
            ))}
        </pre>

        3rd fattest Elf carries {thirdFattestElf.calories} calories in {
            thirdFattestElf.payload.length
        } packages
        <pre>
            {thirdFattestElf.payload.map((item: number) => (
                <li>{item}</li>
            ))}
        </pre>
    </main>
</Layout>
